In [7]:
import zipfile
import pandas as pd
import os

# Caminho da pasta que deseja listar os arquivos
caminho_pasta = "Arquivos Diários"

# Listar todos os arquivos na pasta
arquivos = os.listdir(caminho_pasta)

# Mostrar os arquivos
for arquivo in arquivos:
    print(arquivo)


    # Caminho do arquivo zip
    zip_file_path = 'Arquivos Diários/{}'.format(arquivo)

    # Abrir e extrair o conteúdo do arquivo zip
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        # Extrair todos os arquivos
        zip_ref.extractall('arquivos_diarios_extraidos')

        # Ler o arquivo CSV extraído
        # csv_file_path = 'arquivos_diarios_extraidos/{}.csv'.format(arquivo)
        # df = pd.read_csv(csv_file_path)

# Exibir as primeiras linhas do DataFrame
# df.head()

Quanti_20240615.zip
Quanti_20240606.zip
Quanti_20240614.zip
Quanti_20240626.zip
Quanti_20240624.zip
Quanti_20240627.zip
Quanti_20240611.zip
Quanti_20240619.zip
Quanti_20240609.zip
Quanti_20240605.zip
Quanti_20240623.zip
Quanti_20240607.zip
Quanti_20240620.zip
Quanti_20240630.zip
Quanti_20240617.zip
Quanti_20240603.zip
Quanti_20240602.zip
Quanti_20240621.zip
Quanti_20240629.zip
Quanti_20240625.zip
Quanti_20240601.zip
Quanti_20240612.zip
Quanti_20240618.zip
Quanti_20240616.zip
Quanti_20240610.zip
Quanti_20240604.zip
Quanti_20240613.zip
Quanti_20240628.zip
Quanti_20240622.zip
Quanti_20240608.zip

In [9]:
zip_file_path = 'Lote Inicial/{}'.format("LoteInicial.zip")

# Abrir e extrair o conteúdo do arquivo zip
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Extrair todos os arquivos
    zip_ref.extractall('Lote Inicial')

In [7]:
import os
import pandas as pd
from datetime import datetime

caminho_arquivo = 'Lote Inicial/{}'.format("LoteInicial.zip")
date_reference = datetime(2000,1, 1)

# Ler o arquivo em pedaços de 50000 linhas por vez
for chunk in pd.read_csv(caminho_arquivo, chunksize=50000):
    # Processar o pedaço atual
    chunk['General Reference Date'] = pd.to_datetime(chunk['General Reference Date'])
    maior_data_chunk = chunk['General Reference Date'].max()
    if maior_data_chunk > date_reference:
        date_reference = maior_data_chunk
    teste_df = chunk[chunk['Dynamic Data Type'] == "FE Bid"]
    if os.path.exists('teste.csv'):
        teste_df.to_csv('teste.csv', mode='a', header=False, index=False)
    else:
        teste_df.to_csv('teste.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv('teste.csv')

In [3]:
df.head()

,ISIN,Fund Group Name,Dynamic Currency,General Reference Date,Dynamic Data Type,Dynamic Value
0,LU1883342021,Amundi,GBP,2022-07-17,FE Bid,64.27
1,LU1883342021,Amundi,GBP,2022-07-18,FE Bid,63.71
2,LU1883342021,Amundi,GBP,2022-07-19,FE Bid,64.48
3,LU1883342021,Amundi,GBP,2022-07-20,FE Bid,64.86
4,LU1883342021,Amundi,GBP,2022-07-21,FE Bid,65.34

In [4]:
df.sort_values('General Reference Date')

,ISIN,Fund Group Name,Dynamic Currency,General Reference Date,Dynamic Data Type,Dynamic Value
27013247,DE0008475039,Allianz Global Investors,EUR,1960-01-11,FE Bid,24.7619
27013248,DE0008475039,Allianz Global Investors,EUR,1960-01-31,FE Bid,24.7619
27013249,DE0008475039,Allianz Global Investors,EUR,1960-02-29,FE Bid,23.5706
27013250,DE0008475039,Allianz Global Investors,EUR,1960-03-31,FE Bid,23.7904
27013251,DE0008475039,Allianz Global Investors,EUR,1960-04-30,FE Bid,24.0512
...,...,...,...,...,...,...
27659874,LU0629873083,Goldman Sachs Asset Management,USD,2023-07-17,FE Bid,722.2700
637729,LU1435356149,Amundi,EUR,2023-07-17,FE Bid,79.8535
7829951,LU2263536232,BlackRock,JPY,2023-07-17,FE Bid,3823.0000
19079348,IE00B6R51Z18,BlackRock,EUR,2023-07-17,FE Bid,21.5512
23641020,LU1327396922,Amundi,SGD,2023-07-17,FE Bid,88.4200

In [19]:
from datetime import datetime
df2 = df.drop_duplicates('ISIN', keep='last')

In [20]:
df2['ISIN'].value_counts()

ISIN
IE00BF0M6N54    1
LU1883342021    1
FR0010458760    1
FR0007068994    1
HK0000251816    1
               ..
FR0007060348    1
LU1883866441    1
LU1894683850    1
LU1049756742    1
LU1437020909    1
Name: count, Length: 12118, dtype: int64

In [22]:
df2['Dynamic Currency'].value_counts()

Dynamic Currency
EUR    4655
USD    3508
GBP     977
GBX     879
CHF     744
AUD     227
SGD     212
JPY     199
SEK     165
HKD     153
NOK      79
CNH      64
DKK      45
CZK      44
PLN      35
CAD      31
CNY      31
NZD      25
ZAR      18
HUF      10
MXN       8
BRL       3
MYR       2
TRY       1
IDR       1
USX       1
RON       1
Name: count, dtype: int64

In [14]:
df2[df2['ISIN']=='LU0158828326']

,ISIN,Fund Group Name,Dynamic Currency,General Reference Date,Dynamic Data Type,Dynamic Value
10001999,LU0158828326,Allianz Global Investors,EUR,2023-07-17,FE Bid,23.8315

In [23]:
df2[df2['ISIN']=='IE00BCRY6441']

,ISIN,Fund Group Name,Dynamic Currency,General Reference Date,Dynamic Data Type,Dynamic Value
24305986,IE00BCRY6441,BlackRock,USD,2022-07-15,FE Bid,118.6232

In [25]:
df2

,ISIN,Fund Group Name,Dynamic Currency,General Reference Date,Dynamic Data Type,Dynamic Value
2243,LU1883342021,Amundi,GBP,2022-07-15,FE Bid,6.427000e+01
6521,FR0010458760,Amundi,EUR,2022-07-15,FE Bid,8.301763e+06
11852,FR0007068994,Amundi,EUR,2022-07-15,FE Bid,5.994000e+01
13849,HK0000251816,Amundi,NZD,2022-07-15,FE Bid,6.860000e+00
15624,HK0000291838,Amundi,GBP,2022-07-15,FE Bid,8.100000e+00
...,...,...,...,...,...,...
28720880,IE00BMW3QX54,Legal & General,USD,2022-07-15,FE Bid,1.815820e+01
28722286,GB00BF18CB28,Legal & General,GBX,2022-07-15,FE Bid,5.702000e+01
28723673,GB00BF41GZ01,Legal & General,GBX,2022-07-15,FE Bid,6.357000e+01
28727890,IE00BF0M2Z96,Legal & General,GBP,2022-07-15,FE Bid,1.194440e+01
28729292,IE00BF0M6N54,Legal & General,GBP,2022-07-15,FE Bid,1.081630e+01

In [10]:
import pandas as pd
pd.set_option('display.max_columns', None)
import os 
# Caminho da pasta que deseja listar os arquivos
caminho_pasta = "arquivos_diarios_extraidos"

# Listar todos os arquivos na pasta
arquivos = os.listdir(caminho_pasta)
arquivos.sort()

In [76]:
# df0_0 = pd.read_csv('arquivos_diarios_extraidos/Quanti_20240601.csv', nrows=1000)
# df0_0.to_csv('amostra/quanti_20240601.csv', index=False)
df0_0=pd.read_csv('amostra/quanti_20240601.csv')

In [77]:
df0_1 = pd.read_csv('arquivos_diarios_extraidos/{}'.format(arquivos[1]))

In [78]:
df0_2 = df0_1[df0_1['ISIN'].isin(list(df0_0['ISIN']))]

In [85]:
df0_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1452 entries, 0 to 26268
Data columns (total 48 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ISIN                                     195 non-null    object
 1   AuM Fund                                 1293 non-null   float64
 2   AuM Fund Date                            1293 non-null   object
 3   AuM Share Class                          887 non-null    float64
 4   AuM Share Class Date                     887 non-null    object
 5   Bid NAV                                  4 non-null      float64
 6   Bid NAV Date                             4 non-null      object
 7   Ask NAV                                  4 non-null      float64
 8   Ask NAV Date                             4 non-null      object
 9   Valuation NAV                            1422 non-null   float64
 10  Valuation NAV Date                       1422 non-null   object
 11  Transaction NAV                          8 non-null      float64
 12  Transaction NAV Date                     8 non-null      object
 13  NoS Fund Date                            21 non-null     object
 14  NoS Share Class                          935 non-null    float64
 15  NoS Share Class Date                     935 non-null    object
 16  NoS Fund                                 21 non-null     float64
 17  FE Bid                                   4 non-null      float64
 18  FE Bid Date                              4 non-null      object
 19  FE Offer                                 4 non-null      float64
 20  FE Offer Date                            4 non-null      object
 21  FE NAV                                   1431 non-null   float64
 22  FE NAV Date                              1431 non-null   object
 23  FE Generic NAV                           1431 non-null   float64
 24  FE Generic NAV Date                      1431 non-null   object
 25  FE AUM Fund Date                         1293 non-null   object
 26  FE AUM Share Class                       887 non-null    float64
 27  FE AUM Share Class Date                  887 non-null    object
 28  FE NOS Fund                              21 non-null     float64
 29  FE NOS Fund Date                         21 non-null     object
 30  FE NOS Share Class                       935 non-null    float64
 31  FE NOS Share Class Date                  935 non-null    object
 32  Citi Code                                1452 non-null   object
 33  Fund Code                                1452 non-null   object
 34  Dynamic Currency                         1452 non-null   object
 35  FE AUM Fund                              1293 non-null   float64
 36  FE Mid                                   1429 non-null   float64
 37  FE Mid Date                              1429 non-null   object
 38  FE Total Return NAV                      1431 non-null   float64
 39  FE Total Return NAV Date                 1431 non-null   object
 40  Amount of Shares Redeemed Fund           0 non-null      float64
 41  Amount of Shares Redeemed Share Class    0 non-null      float64
 42  Amount of Shares Subscribed Fund         0 non-null      float64
 43  Amount of Shares Subscribed Share Class  0 non-null      float64
 44  Number of Shares Redeemed Fund           0 non-null      float64
 45  Number of Shares Redeemed Share Class    1 non-null      float64
 46  Number of Shares Subscribed Fund         0 non-null      float64
 47  Number of Shares Subscribed Share Class  1 non-null      float64
dtypes: float64(26), object(22)
memory usage: 555.8+ KB

In [83]:
arquivos_amostra=[df0_1, df0_2]

In [ ]:
def verifica_dados():
    pass

# Dicionário pode ser consideravelmente grande, no caso de executar com isso em grandes dados
# Fazer um sistema de guardar em arquivos .json, onde é possível verificar as entradas um a um.
df0 = {}
for elem in range(len(arquivos_amostra[0])):
    df1 = arquivos_amostra[elem]
    df1['ID'] = df1['ISIN'] + '_' + df1['AuM Fund Date']
    df1.drop_duplicates('ID', keep='last') #perde info porém é para dados entre dias
    for _, elem in df1.iterrows():
        if elem['ID'] in list(df0.keys()):
            verifica_dados()
        else:
            df0[elem['ISIN']] = elem[['FE Bid',
                                      'AuM Fund',
                                      'AuM Share Class',
                                      'Bid NAV',
                                      'Ask NAV', 
                                      'Valuation NAV',
                                      'NoS Share Class',
                                      'NoS Fund',
                                      'FE Offer',
                                      'FE NAV',
                                      'FE Mid',
                                      'FE Total Return NAV',
                                      'FE AUM Fund',
                                      'FE Generic NAV',
                                      'FE AUM Share Class',
                                      'FE NOS Share Class',
                                      'Transaction NAV', 
                                      'FE Generic NAV', 
                                      'FE NAV', 
                                      'Transaction NAV']]

In [26]:
df1 = pd.read_csv('arquivos_diarios_extraidos/{}'.format(arquivos[0]))

In [88]:
df1[:5]

,ISIN,AuM Fund,AuM Fund Date,AuM Share Class,AuM Share Class Date,Bid NAV,Bid NAV Date,Ask NAV,Ask NAV Date,Valuation NAV,Valuation NAV Date,Transaction NAV,Transaction NAV Date,NoS Fund Date,NoS Share Class,NoS Share Class Date,NoS Fund,FE Bid,FE Bid Date,FE Offer,FE Offer Date,FE NAV,FE NAV Date,FE Generic NAV,FE Generic NAV Date,FE AUM Fund Date,FE AUM Share Class,FE AUM Share Class Date,FE NOS Fund,FE NOS Fund Date,FE NOS Share Class,FE NOS Share Class Date,Citi Code,Fund Code,Dynamic Currency,FE AUM Fund,FE Mid,FE Mid Date,FE Total Return NAV,FE Total Return NAV Date,Amount of Shares Redeemed Fund,Amount of Shares Redeemed Share Class,Amount of Shares Subscribed Fund,Amount of Shares Subscribed Share Class,Number of Shares Redeemed Fund,Number of Shares Redeemed Share Class,Number of Shares Subscribed Fund,Number of Shares Subscribed Share Class,ID
0,LU0529382367,1.025147e+08,2024-05-31,5.680526e+07,2024-05-30,NaN,NaN,NaN,NaN,9657.2200,2024-05-31,NaN,NaN,NaN,5879.866,2024-05-31,NaN,NaN,NaN,NaN,NaN,9657.2200,2024-05-31,9657.2200,2024-05-31,2024-05-31,5.680526e+07,2024-05-30,NaN,NaN,5879.866,2024-05-31,002R,KLFQ1,EUR,1.025147e+08,9657.2200,2024-05-31,9657.2200,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LU0529382367_2024-05-31
1,LU0214705203,4.805140e+07,2024-05-31,7.848121e+06,2024-05-31,NaN,NaN,NaN,NaN,11.5300,2024-05-31,NaN,NaN,NaN,680943.000,2024-05-31,NaN,NaN,NaN,NaN,NaN,11.5300,2024-05-31,11.5300,2024-05-31,2024-05-31,7.848121e+06,2024-05-31,NaN,NaN,680943.000,2024-05-31,002V,TFF37,USD,4.805140e+07,11.5300,2024-05-31,11.5300,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LU0214705203_2024-05-31
2,LU0511383332,2.778680e+09,2024-05-31,2.999670e+07,2024-05-31,NaN,NaN,NaN,NaN,29.6200,2024-05-31,NaN,NaN,NaN,1099290.130,2024-05-31,NaN,NaN,NaN,NaN,NaN,29.6200,2024-05-31,29.6200,2024-05-31,2024-05-31,2.999670e+07,2024-05-31,NaN,NaN,1099290.130,2024-05-31,00T3,ACTECA,EUR,2.778680e+09,29.6200,2024-05-31,29.6200,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LU0511383332_2024-05-31
3,LU0511383688,2.778680e+09,2024-05-31,1.501312e+07,2024-05-31,NaN,NaN,NaN,NaN,32.9000,2024-05-31,NaN,NaN,NaN,495341.860,2024-05-31,NaN,NaN,NaN,NaN,NaN,32.9000,2024-05-31,32.9000,2024-05-31,2024-05-31,1.501312e+07,2024-05-31,NaN,NaN,495341.860,2024-05-31,00T4,ACTECA,EUR,2.778680e+09,32.9000,2024-05-31,32.9000,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LU0511383688_2024-05-31
4,IE00B5N0GF80,2.167901e+09,2024-05-31,8.218169e+09,2024-05-31,NaN,NaN,NaN,NaN,137.4567,2024-05-31,NaN,NaN,NaN,5684719.324,2024-05-31,NaN,NaN,NaN,NaN,NaN,137.4567,2024-05-31,137.4567,2024-05-31,2024-05-31,8.218169e+09,2024-05-31,NaN,NaN,5684719.324,2024-05-31,016P,EIFX0,SEK,2.167901e+09,137.4567,2024-05-31,137.4567,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IE00B5N0GF80_2024-05-31

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102683 entries, 0 to 102682
Data columns (total 48 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ISIN                                     94855 non-null   object
 1   AuM Fund                                 100200 non-null  float64
 2   AuM Fund Date                            100200 non-null  object
 3   AuM Share Class                          72899 non-null   float64
 4   AuM Share Class Date                     72899 non-null   object
 5   Bid NAV                                  8094 non-null    float64
 6   Bid NAV Date                             8094 non-null    object
 7   Ask NAV                                  8014 non-null    float64
 8   Ask NAV Date                             8014 non-null    object
 9   Valuation NAV                            81861 non-null   float64
 10  Valuation NAV Date                       81861 non-null   object
 11  Transaction NAV                          10779 non-null   float64
 12  Transaction NAV Date                     10779 non-null   object
 13  NoS Fund Date                            2843 non-null    object
 14  NoS Share Class                          72203 non-null   float64
 15  NoS Share Class Date                     72203 non-null   object
 16  NoS Fund                                 2843 non-null    float64
 17  FE Bid                                   8094 non-null    float64
 18  FE Bid Date                              8094 non-null    object
 19  FE Offer                                 8014 non-null    float64
 20  FE Offer Date                            8014 non-null    object
 21  FE NAV                                   100324 non-null  float64
 22  FE NAV Date                              100324 non-null  object
 23  FE Generic NAV                           100324 non-null  float64
 24  FE Generic NAV Date                      100324 non-null  object
 25  FE AUM Fund Date                         100200 non-null  object
 26  FE AUM Share Class                       72899 non-null   float64
 27  FE AUM Share Class Date                  72899 non-null   object
 28  FE NOS Fund                              2843 non-null    float64
 29  FE NOS Fund Date                         2843 non-null    object
 30  FE NOS Share Class                       72203 non-null   float64
 31  FE NOS Share Class Date                  72203 non-null   object
 32  Citi Code                                102683 non-null  object
 33  Fund Code                                102683 non-null  object
 34  Dynamic Currency                         102682 non-null  object
 35  FE AUM Fund                              100200 non-null  float64
 36  FE Mid                                   92359 non-null   float64
 37  FE Mid Date                              92359 non-null   object
 38  FE Total Return NAV                      100313 non-null  float64
 39  FE Total Return NAV Date                 100313 non-null  object
 40  Amount of Shares Redeemed Fund           0 non-null       float64
 41  Amount of Shares Redeemed Share Class    35 non-null      float64
 42  Amount of Shares Subscribed Fund         0 non-null       float64
 43  Amount of Shares Subscribed Share Class  28 non-null      float64
 44  Number of Shares Redeemed Fund           0 non-null       float64
 45  Number of Shares Redeemed Share Class    3299 non-null    float64
 46  Number of Shares Subscribed Fund         0 non-null       float64
 47  Number of Shares Subscribed Share Class  3941 non-null    float64
dtypes: float64(26), object(22)
memory usage: 37.6+ MB

In [138]:
import json
import os

def verifica_dados(elem_atual, json_antigo, id):
    elem_antigo = json_antigo[id]
    for chave, valor in elem_antigo.items():
        if str(elem_atual[chave]) != str(valor):
            isin = id.split('_')[0]
            data = id.split('_')[1]
            dados = {
                'ISIN':[isin],
                'campo_alterado':[chave],
                'valor_antigo':[valor],
                'valor_novo': [elem_atual[chave]],
                'data':[data],
            }
            if os.path.exists('results/serie_valores_substitutos.csv'):
                pd.DataFrame(dados).to_csv('results/serie_valores_substitutos.csv', mode='a', header=False, index=False)
            else:
                pd.DataFrame(dados).to_csv('results/serie_valores_substitutos.csv', index=False)
            elem_antigo[chave] = valor
    json_antigo[id] = elem_antigo # Valores atualizados
    with open('dados/{}.json'.format(id), 'w') as arquivo_json: # Retorna json com valores atualizados
        json.dump(df0, arquivo_json, indent=4, ensure_ascii=False)
    

# Dicionário pode ser consideravelmente grande, no caso de executar com isso em grandes dados
# Fazer um sistema de guardar em arquivos .json, onde é possível verificar as entradas um a um.
for elem in range(len(arquivos)):
    df1 = pd.read_csv('arquivos_diarios_extraidos/{}'.format(arquivos[elem]))
    df1['ID'] = df1['ISIN'] + '_' + df1['AuM Fund Date']
    df1 = df1.dropna(subset=['ISIN', 'ID'])
    df1.drop_duplicates('ID', keep='last') # perde info porém é para dados entre dias
    for _, elem in df1[:200].iterrows():
        df0 = {}
        arquivos_dados = os.listdir('dados')
        if str(elem['ID']+'.json') in arquivos_dados:
            with open('dados/' + elem['ID']+'.json', 'r') as arquivo_json:
                df0 = json.load(arquivo_json)
            verifica_dados(elem, df0, elem['ID'])
        else:
            df0[elem['ID']] = {
                                      'FE Bid':elem['FE Bid'],
                                      'AuM Fund':elem['AuM Fund'],
                                      'AuM Share Class':elem['AuM Share Class'],
                                      'Bid NAV':elem['Bid NAV'],
                                      'Ask NAV':elem['Ask NAV'],
                                      'Valuation NAV':elem['Valuation NAV'],
                                      'NoS Share Class':elem['NoS Share Class'],
                                      'NoS Fund':elem['NoS Fund'],
                                      'FE Offer':elem['FE Offer'],
                                      'FE NAV':elem['FE NAV'],
                                      'FE AUM Fund':elem['FE AUM Fund'],
                                      'FE Generic NAV':elem['FE Generic NAV'],
                                      'Transaction NAV':elem['Transaction NAV'],
                                      'FE Generic NAV':elem['FE Generic NAV'],
                                      'FE NAV':elem['FE NAV'],
                                      'Transaction NAV':elem['Transaction NAV']
            }
            with open('dados/{}.json'.format(elem['ID']), 'w') as arquivo_json:
                json.dump(df0, arquivo_json, indent=4, ensure_ascii=False)

In [103]:
df0['LU0602537226']

{'FE Bid': nan,
 'AuM Fund': 101286725.74,
 'AuM Share Class': 20057415.5,
 'Bid NAV': nan,
 'Ask NAV': nan,
 'Valuation NAV': 13.5037,
 'NoS Share Class': 1485330.755,
 'NoS Fund': 8678868.385,
 'FE Offer': nan,
 'FE NAV': 13.5037,
 'FE AUM Fund': 101286725.74,
 'FE Generic NAV': 13.5037,
 'Transaction NAV': nan}

In [49]:
df1['ID'][0]

'LU0602537226_2024-06-18'

In [24]:
pd.read_csv('arquivos_diarios_extraidos/{}'.format(arquivos[2])).head(1)

,ISIN,AuM Fund,AuM Fund Date,AuM Share Class,AuM Share Class Date,Bid NAV,Bid NAV Date,Ask NAV,Ask NAV Date,Valuation NAV,Valuation NAV Date,Transaction NAV,Transaction NAV Date,NoS Fund Date,NoS Share Class,NoS Share Class Date,NoS Fund,FE Bid,FE Bid Date,FE Offer,FE Offer Date,FE NAV,FE NAV Date,FE Generic NAV,FE Generic NAV Date,FE AUM Fund Date,FE AUM Share Class,FE AUM Share Class Date,FE NOS Fund,FE NOS Fund Date,FE NOS Share Class,FE NOS Share Class Date,Citi Code,Fund Code,Dynamic Currency,FE AUM Fund,FE Mid,FE Mid Date,FE Total Return NAV,FE Total Return NAV Date,Amount of Shares Redeemed Fund,Amount of Shares Redeemed Share Class,Amount of Shares Subscribed Fund,Amount of Shares Subscribed Share Class,Number of Shares Redeemed Fund,Number of Shares Redeemed Share Class,Number of Shares Subscribed Fund,Number of Shares Subscribed Share Class
0,LU0654560878,1.483006e+09,2024-05-31,16805606.16,2024-05-31,NaN,NaN,NaN,NaN,19.58,2024-05-31,NaN,NaN,NaN,858288.2,2024-05-31,NaN,NaN,NaN,NaN,NaN,19.58,2024-05-31,19.58,2024-05-31,2024-05-31,16805606.16,2024-05-31,NaN,NaN,858288.2,2024-05-31,06RF,06FR7,EUR,1.483006e+09,19.58,2024-05-31,19.58,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
pd.read_csv('arquivos_diarios_extraidos/{}'.format(arquivos[0])).head(1)

,ISIN,AuM Fund,AuM Fund Date,AuM Share Class,AuM Share Class Date,Bid NAV,Bid NAV Date,Ask NAV,Ask NAV Date,Valuation NAV,Valuation NAV Date,Transaction NAV,Transaction NAV Date,NoS Fund Date,NoS Share Class,NoS Share Class Date,NoS Fund,FE Bid,FE Bid Date,FE Offer,FE Offer Date,FE NAV,FE NAV Date,FE Generic NAV,FE Generic NAV Date,FE AUM Fund Date,FE AUM Share Class,FE AUM Share Class Date,FE NOS Fund,FE NOS Fund Date,FE NOS Share Class,FE NOS Share Class Date,Citi Code,Fund Code,Dynamic Currency,FE AUM Fund,FE Mid,FE Mid Date,FE Total Return NAV,FE Total Return NAV Date,Amount of Shares Redeemed Fund,Amount of Shares Redeemed Share Class,Amount of Shares Subscribed Fund,Amount of Shares Subscribed Share Class,Number of Shares Redeemed Fund,Number of Shares Redeemed Share Class,Number of Shares Subscribed Fund,Number of Shares Subscribed Share Class
0,LU0602537226,1.004964e+08,2024-05-31,19313180.07,2024-05-31,NaN,NaN,NaN,NaN,13.2173,2024-05-31,NaN,NaN,2024-05-31,1461202.074,2024-05-31,8645623.959,NaN,NaN,NaN,NaN,13.2173,2024-05-31,13.2173,2024-05-31,2024-05-31,19313180.07,2024-05-31,8645623.959,2024-05-31,1461202.074,2024-05-31,002F,N4FB0,EUR,1.004964e+08,13.2173,2024-05-31,13.2173,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN